body {
  font-family: sans-serif;
}

.row {
  display: flex;
}
.three-fifths {
  flex: 5
}
.two-fifths {
  flex: 2
}

.two-thirds {
  flex: 2
}
.one-thirds {
  flex: 1
}

#page-4 {
  flex-direction: row-reverse;
}
