/* red: #D0021B */

body {
  font-family: sans-serif;
}

.row {
  display: flex;
}
.three-fifths {
  flex: 5

}
.two-fifths {
  flex: 2
}

.two-thirds {
  flex: 2
}
.one-thirds {
  flex: 1
}

#page-4 {
  flex-direction: row-reverse;
}


#drop-cap {
  padding-top: 100px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 100px;
}

#title-area {
  text-transform: uppercase;
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
#title-area h1:nth-child(2) span {
  border-bottom: 10px solid #D0021B;
}

#title-top {
  height: 200px;
  border-bottom: 10px solid black;
}
.leader-top {
  height: 200px;
  border-left: 10px solid black;
  border-bottom: 10px solid black;
}
