/* red: #D0021B */

body {
  font-family: sans-serif;
}

.row {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}
.three-fifths {
  flex: 5

}
.two-fifths {
  flex: 2
}

.two-thirds {
  flex: 2
}
.one-thirds {
  flex: 1
}

/* Page 1 Specific Styles
---------------------------------- */
#drop-cap {
  padding-top: 100px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 100px;
}

#title-area {
  text-transform: uppercase;
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
#title-area h1:nth-child(2) span {
  border-bottom: 10px solid #D0021B;
}

#title-top {
  height: 200px;
  border-bottom: 10px solid black;
}
#title-bottom {
  padding-top: 100px;
}
#title-bottom h2 {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(180deg);
  margin-right: 0;
}
#title-bottom h3 {
  margin: 0;
  font-weight: lighter;
}

#leader-top {
  height: 200px;
  border-left: 10px solid black;
  border-bottom: 10px solid black;
}
#leader-bottom {
  border-left: 10px solid black;
  border-bottom: 10px solid black;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 1rem;
}
#leader-bottom h4, #leader-bottom h5, #leader-bottom h6 {
  text-transform: uppercase;
  writing-mode: vertical-lr;
  text-orientation: mixed;
}

#leader-bottom h5 {
  font-weight: lighter;
  font-size: 2.18rem;
  margin: 0 1.5rem 0 0;
}

#leader-bottom h6 {
  font-size: 1.2rem;
  margin: 0;
  border-right: 0.5rem solid black;
}


/* Page 2 Specific Styles
---------------------------------- */
#page-2 {
  padding: 50px;
}
#studio-caption {
    justify-content: flex-end;
}


/* Page 3 Specific Styles
---------------------------------- */

/* Page 4 Specific Styles
---------------------------------- */
#page-4 {
  flex-direction: row-reverse;
}
